In [1]:
import pandas as pd
import numpy as np

c:\Users\AKSHAT SHAW\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv("pit_edit_5.csv", sep=",", encoding="utf-8")

In [3]:
df.head()

,No.,Fe,Cr,Ni,Mo,W,N,Nb,C,Si,...,Test Solution,[Cl-] M,pH,Test Method,Scan Rate mV/s,Heat treatment,Microstructures,Comments,Reference,Material class
0,1.0,69.71,18.0,10.0,NaN,0.0,0.0,0.0,0.03,1.0,...,"300 ppm NaCl, pH 7.8",0.0051,7.8,Potentiodynamic Polarization with exposed area...,0.1,NaN,NaN,S30403 (304L),49,Fe Alloy
1,2.0,69.71,18.0,10.0,NaN,0.0,0.0,0.0,0.03,1.0,...,"500 ppm NaCl, pH 7.8",0.0086,7.8,Potentiodynamic Polarization with exposed area...,0.1,NaN,NaN,S30403 (304L),49,Fe Alloy
2,3.0,69.71,18.0,10.0,NaN,0.0,0.0,0.0,0.03,1.0,...,"1000 ppm NaCl, pH 7.8",0.0171,7.8,Potentiodynamic Polarization with exposed area...,0.1,NaN,NaN,S30403 (304L),49,Fe Alloy
3,4.0,69.71,18.0,10.0,NaN,0.0,0.0,0.0,0.03,1.0,...,"5000 ppm NaCl, pH 7.8",0.0856,7.8,Potentiodynamic Polarization with exposed area...,0.1,NaN,NaN,S30403 (304L),49,Fe Alloy
4,5.0,69.71,18.0,10.0,NaN,0.0,NaN,0.0,0.03,1.0,...,Seawater Natural,0.5460,8.2,Potentiodynamic Polarization with exposed area...,0.1,NaN,NaN,S30403 (304L),49,Fe Alloy

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   No.              810 non-null    float64
 1   Fe               810 non-null    float64
 2   Cr               805 non-null    float64
 3   Ni               788 non-null    float64
 4   Mo               779 non-null    float64
 5   W                795 non-null    float64
 6   N                274 non-null    float64
 7   Nb               772 non-null    float64
 8   C                368 non-null    float64
 9   Si               357 non-null    float64
 10  Mn               329 non-null    float64
 11  Cu               156 non-null    float64
 12  P                189 non-null    float64
 13  S                199 non-null    float64
 14  Al               734 non-null    float64
 15  V                810 non-null    float64
 16  Ta               810 non-null    float64
 17  Re               810 non-null    float64
 18  Ce               810 non-null    float64
 19  Ti               805 non-null    float64
 20  Co               810 non-null    float64
 21  B                810 non-null    float64
 22  Mg               810 non-null    float64
 23  Y                810 non-null    float64
 24  Gd               798 non-null    float64
 25  Epit, mV (SCE)   760 non-null    float64
 26  Test Temp (C)    727 non-null    float64
 27  Test Solution    810 non-null    object
 28  [Cl-] M          810 non-null    float64
 29  pH               762 non-null    float64
 30  Test Method      802 non-null    object
 31  Scan Rate mV/s   664 non-null    float64
 32  Heat treatment   434 non-null    object
 33  Microstructures  227 non-null    object
 34  Comments         685 non-null    object
 35  Reference        810 non-null    int64
 36  Material class   810 non-null    object
dtypes: float64(30), int64(1), object(6)
memory usage: 234.3+ KB

In [5]:
df['Epit, mV (SCE)'][395]

800.0

In [6]:
df.shape

(810, 37)

In [7]:
num = df.select_dtypes(include="number").columns
cat = df.select_dtypes(exclude="number").columns

In [8]:
num , cat

(Index(['No.', 'Fe', 'Cr', 'Ni', 'Mo', 'W', 'N', 'Nb', 'C', 'Si', 'Mn', 'Cu',
        'P', 'S', 'Al', 'V', 'Ta', 'Re', 'Ce', 'Ti', 'Co', 'B', 'Mg', 'Y', 'Gd',
        'Epit, mV (SCE)', 'Test Temp (C)', '[Cl-] M', 'pH', 'Scan Rate mV/s',
        'Reference'],
       dtype='object'),
 Index(['Test Solution', 'Test Method', 'Heat treatment', 'Microstructures',
        'Comments', 'Material class'],
       dtype='object'))

In [9]:
df[num].isnull().sum()

No.                 0
Fe                  0
Cr                  5
Ni                 22
Mo                 31
W                  15
N                 536
Nb                 38
C                 442
Si                453
Mn                481
Cu                654
P                 621
S                 611
Al                 76
V                   0
Ta                  0
Re                  0
Ce                  0
Ti                  5
Co                  0
B                   0
Mg                  0
Y                   0
Gd                 12
Epit, mV (SCE)     50
Test Temp (C)      83
[Cl-] M             0
pH                 48
Scan Rate mV/s    146
Reference           0
dtype: int64

## Replacing the N/A in the alloy percentage to 0

In [10]:
alloy_comp = ['Fe', 'Cr', 'Ni', 'Mo', 'W', 'N', 'Nb', 'C', 'Si', 'Mn', 'Cu',
        'P', 'S', 'Al', 'V', 'Ta', 'Re', 'Ce', 'Ti', 'Co', 'B', 'Mg', 'Y', 'Gd']

In [11]:
df[alloy_comp] = df[alloy_comp].fillna(0)

In [12]:
df[num].isnull().sum()

No.                 0
Fe                  0
Cr                  0
Ni                  0
Mo                  0
W                   0
N                   0
Nb                  0
C                   0
Si                  0
Mn                  0
Cu                  0
P                   0
S                   0
Al                  0
V                   0
Ta                  0
Re                  0
Ce                  0
Ti                  0
Co                  0
B                   0
Mg                  0
Y                   0
Gd                  0
Epit, mV (SCE)     50
Test Temp (C)      83
[Cl-] M             0
pH                 48
Scan Rate mV/s    146
Reference           0
dtype: int64

In [13]:
df1= df.copy()

In [14]:
df1.replace(["NA"], np.nan, inplace=True)

In [16]:
df1['Test Temp (C)'].fillna(df1['Test Temp (C)'].mean(), inplace = True)
df1['Scan Rate mV/s'].fillna(df1['Scan Rate mV/s'].mean(), inplace = True)

C:\Users\AKSHAT SHAW\AppData\Local\Temp\ipykernel_588\1012678205.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Test Temp (C)'].fillna(df1['Test Temp (C)'].mean(), inplace = True)
C:\Users\AKSHAT SHAW\AppData\Local\Temp\ipykernel_588\1012678205.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Scan Rate mV/s'].fillna(df1['Scan Rate mV/s'].mean(), inplace = True)

In [22]:
df1.dropna(subset= ['Epit, mV (SCE)', 'pH'],inplace = True)

In [23]:
df1[num].isnull().sum()

No.               0
Fe                0
Cr                0
Ni                0
Mo                0
W                 0
N                 0
Nb                0
C                 0
Si                0
Mn                0
Cu                0
P                 0
S                 0
Al                0
V                 0
Ta                0
Re                0
Ce                0
Ti                0
Co                0
B                 0
Mg                0
Y                 0
Gd                0
Epit, mV (SCE)    0
Test Temp (C)     0
[Cl-] M           0
pH                0
Scan Rate mV/s    0
Reference         0
dtype: int64

In [24]:
df1.shape

(712, 37)

In [32]:
df1[cat] = df1[cat].fillna("Not Available")

In [33]:
df1[cat].isnull().sum()

Test Solution      0
Test Method        0
Heat treatment     0
Microstructures    0
Comments           0
Material class     0
dtype: int64

In [35]:
df1.head()

,No.,Fe,Cr,Ni,Mo,W,N,Nb,C,Si,...,Test Solution,[Cl-] M,pH,Test Method,Scan Rate mV/s,Heat treatment,Microstructures,Comments,Reference,Material class
0,1.0,69.71,18.0,10.0,0.0,0.0,0.0,0.0,0.03,1.0,...,"300 ppm NaCl, pH 7.8",0.0051,7.8,Potentiodynamic Polarization with exposed area...,0.1,Not Available,Not Available,S30403 (304L),49,Fe Alloy
1,2.0,69.71,18.0,10.0,0.0,0.0,0.0,0.0,0.03,1.0,...,"500 ppm NaCl, pH 7.8",0.0086,7.8,Potentiodynamic Polarization with exposed area...,0.1,Not Available,Not Available,S30403 (304L),49,Fe Alloy
2,3.0,69.71,18.0,10.0,0.0,0.0,0.0,0.0,0.03,1.0,...,"1000 ppm NaCl, pH 7.8",0.0171,7.8,Potentiodynamic Polarization with exposed area...,0.1,Not Available,Not Available,S30403 (304L),49,Fe Alloy
3,4.0,69.71,18.0,10.0,0.0,0.0,0.0,0.0,0.03,1.0,...,"5000 ppm NaCl, pH 7.8",0.0856,7.8,Potentiodynamic Polarization with exposed area...,0.1,Not Available,Not Available,S30403 (304L),49,Fe Alloy
4,5.0,69.71,18.0,10.0,0.0,0.0,0.0,0.0,0.03,1.0,...,Seawater Natural,0.5460,8.2,Potentiodynamic Polarization with exposed area...,0.1,Not Available,Not Available,S30403 (304L),49,Fe Alloy

In [36]:
df1.to_csv("pit_clean_1.csv", index=False)